<!--<div id="loading" class="TR3 fadeInDiv" style="z-index:999;margin: 0 auto;display:block;position:absolute;">
	<div id="C_page">

		<div id="C_pagePreBody" class="is-alien inverted is-showing"
			style="background-image: url(&quot;css/head.jpg&quot;);background-color: black;">

			<div class="prebody-doc-box content" id="what-it-is">
				<div id="rrss-head" style="width: auto;text-align: center;margin: 5px 30px 0 0;"> Síguenos:
					<a type="button"
						style="bottom:10px;right:20px;z-index:999;color:lightseagreen;padding:5px;font-size:large;width:34px;background: lightyellow;border: solid 1px gray;"
						class="fab fa-twitter rrssBtn">
					</a>
					<a type="button"
						style="bottom:10px;right:54px;z-index:999;color:lightseagreen;padding:5px;font-size:large;width:34px;background: lightyellow;border: solid 1px gray;"
						class="fab fa-instagram rrssBtn">
					</a>
					<a type="button"
						style="bottom:10px;right:88px;z-index:999;color:lightseagreen;padding:5px;font-size:large;width:34px;background: lightyellow;border: solid 1px gray;"
						class="fab fa-facebook-f rrssBtn">
					</a>
					<a type="button"
						style="bottom:10px;right:122px;z-index:999;color:lightseagreen;padding:5px;font-size:large;width:34px;background: lightyellow;border: solid 1px gray;"
						class="fab fa-linkedin rrssBtn">
					</a>
				</div>
				<h1 class="text--display1">
					<span style="color: coral;font-size: 40px;">Terre3</span> - GeoBIM en construcción
				</h1>
				<h2 class="desc big">
					Creado con <a href="https://threejs.org/" target="_blank" style="color: coral;">Three.js</a> &
					<a href="https://ifcjs.github.io/info/" target="_blank" style="color: coral;">IFC.js</a><br>
				</h2>
				<h2 class="desc big">
					Datos oficiales: <a href="http://www.ign.es/" target="_blank" style="color: white;">IGN</a>, <a
						href=https://www.cnig.es/" target="_blank" style="color: white;">CNIG</a>,
					<a href="https://www.catastro.minhap.es/webinspire/index.html" target="_blank"
						style="color: white;">Catastro</a>, <a href="https://www.idee.es/" target="_blank"
						style="color: white;">IDEs</a> y <a href="https://www.openstreetmap.org/" target="_blank"
						style="color: white;">OSM</a>
				</h2>

			</div>


		</div>

		<div id="C_pageBody">

			<div id="C_context">
				<div id="C_document" class="noNav ">

					<div id="simple-view-wrap">

						<div id="simple-view" class="line-gutters memberinfo-widget-root" data-original-title="">
							<div class="unit size5of7 full-width">

								<span id="simple-view-loc" class="display-none"
									data-displayloc="Colmenar Viejo, ES"></span>

								<h3 style="text-align: center;color:coral;font-weight:bold"> Explorar y construir el
									mundo <br> es Gratuito y sencillo </h3>

								<!--<h3
									style="text-align: center;font-size: 21px;background-color: lightyellow;margin: 5px 10%">
									- Tú también puedes ayudar, <a href="https://github.com/accima/TR3-pack"
										target="_blank">¡Unimos fuerzas!</a> -<br>Te necesitamos.</h3>--><!--

								<h3 style="margin-top: 10px;">· Desarrollando y creando, en común</h3>

								<ul class="j-groupCard-list searchResults tileGrid tileGrid--4col tileGrid_atMedium--2col tileGrid_atSmall--1col"
									data-view="card">
									<li class="groupCard tileGrid-tile" data-name="Madrid Stammtisch Deutsch - Spanisch"
										data-chapterid="21256347" itemscope="" itemtype="">
										<div class="">

											<a href="https://ifcjs.github.io/info/" itemprop="url"
												class="groupCard--photo loading nametag-photo "
												style="background-image: url(css/IFC-LOGO.jpg);" target="_blank">

												<div class="groupCard--gradient"></div>

												<div class="nametag-photo-name groupCard--title">
													<h3 class="padding-none inline-block loading" itemprop="name">
														IFC.js
													</h3>
													<p class="small ellipsize">
														BIM toolkit for JS
													</p>

												</div>
											</a>
											<div id="ifcjs"
												style="font-size: small; padding: 10px; display: none; border-bottom: medium solid gray; background-color: rgb(238, 238, 238); margin: 10px;">
												<p>This library is the implementation of web-ifc for THREE.js. 
													This allows to parse and generate the Three.js geometry of IFC models in JavaScript, 
													both in the browser and on a Node server, as well as query the IFC data and override it. 
												</p>

											</div>
											<button type="button" onclick="toggle_visibility('ifcjs');"
												style="float: right; color: gray; padding-right: 15px; border: medium none; background-color: transparent;">+info</button>

										</div>
									</li>

									<li class="groupCard tileGrid-tile" data-name="Madrid Stammtisch Deutsch - Spanisch"
										data-chapterid="21256347" itemscope="" itemtype="">
										<div class="">

											<a href="https://geoinnova.org/" itemprop="url"
												class="groupCard--photo loading nametag-photo "
												style="background-image: url(css/GEOINNOVA-LOGO.jpg);" target="_blank">

												<div class="groupCard--gradient"></div>

												<div class="nametag-photo-name groupCard--title">
													<h3 class="padding-none inline-block loading" itemprop="name">
														Geoinnova
													</h3>
													<p class="small ellipsize">
														Formación SIG
													</p>

												</div>
											</a>
											<div id="geoinnova"
												style="font-size: small; padding: 10px; display: none; border-bottom: medium solid gray; background-color: rgb(238, 238, 238); margin: 10px;">
												<p>Consultoría y formación en SIG y Medio Ambiente.
													Cursos online SIG y medio ambiente 100% actualizados.
													Formación Certificada. Expertos en Formación SIG.</p>

											</div>
											<button type="button" onclick="toggle_visibility('geoinnova');"
												style="float: right; color: gray; padding-right: 15px; border: medium none; background-color: transparent;">+info</button>

										</div>
									</li>
									<li class="groupCard tileGrid-tile" data-name="Madrid Stammtisch Deutsch - Spanisch"
										data-chapterid="21256347" itemscope="" itemtype="">
										<div class="">

											<a href="https://fisotec.es/" itemprop="url"
												class="groupCard--photo loading nametag-photo "
												style="background-image: url(css/FISOTEC-LOGO.jpg);" target="_blank">

												<div class="groupCard--gradient"></div>

												<div class="nametag-photo-name groupCard--title">
													<h3 class="padding-none inline-block loading" itemprop="name">
														Fisotec
													</h3>
													<p class="small ellipsize">
														GIS y Smart Cities
													</p>

												</div>
											</a>
											<div id="fisotec"
												style="font-size: small; padding: 10px; display: none; border-bottom: medium solid gray; background-color: rgb(238, 238, 238); margin: 10px;">
												<p>En Fisotec nos dedicamos a la implantación de Sistemas de Información
													Geográfica de tipo Open Source,
													orientados a la gestión, mejora y optimización de recursos de las
													Smart Cities.</p>

											</div>
											<button type="button" onclick="toggle_visibility('fisotec');"
												style="float: right; color: gray; padding-right: 15px; border: medium none; background-color: transparent;">+info</button>

										</div>
									</li>
								</ul>

								<h3 onclick="close_loading();"
									style="cursor: pointer;background-color: cornsilk;border: solid skyblue;padding: 8px;border-style: double;opacity: 0.8;width: 50%;margin: 20px auto;border-radius: 15px;text-align: center;">
									Lo entiendo, Acceder »</span></span></span></h3>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->